body {
    overflow: hidden;
}

.full-height {
    height: 100vh;
}

.form-login {
    margin-top: 15px;
}

.bg {
    background-image: url("../img/background.svg");
    /* Half height */
    height: 10%;

    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-div-create {
    margin-top: 2em;
    margin-left: 2em;
}

.form-div-create select,
.form-div-create input,
.form-div-create textarea {
    width: 30%;
    margin-bottom: 1em;
}

.title {
    margin-left: 20px;
    margin-top: 20px;
}
